<form method="POST" action="/api/sessions">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <button type="submit">Login</button>
</form>

<a href="/api/sessions/restore">Restablecer contraseña</a>

<div>
    <p>No tienes cuenta ? <a href="/api/sessions/register">Registrarse</a></p>
</div>

<div>
    <a href="/api/sessions/github"><button>Entrar con GitHub</button></a>
</div>