<form method="POST" action="/api/sessions/restore">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <button type="submit">Restablecer contraseña</button>
</form>