<form method="POST" action="{{token}}">

    <label for="newPassword">Nueva contraseña</label>
    <input type="password" name="newPassword" id="newPassword">

    <button type="submit">Restaurar contraseña</button>
</form>